include README.md
include *.yaml
include *.txt
include *.md
include *.rst
recursive-include soxspipe *
global-exclude *.pyo
global-exclude *.pyc
recursive-exclude tests *
recursive-exclude */tests *
recursive-exclude */*/tests *
recursive-exclude */*/*/tests *
recursive-exclude tests
