version: 1
# database settings:
#     db: unit_tests
#     host: localhost
#     user: utuser
#     password: utpass
#     loginPath: unittesting
#     tunnel: False

# # SSH TUNNEL - if a tunnel is required to connect to the database(s) then add setup here
# # Note only one tunnel is setup - may need to change this to 2 tunnels in the future if 
# # code, static catalogue database and transient database are all on seperate machines.
# ssh tunnel:
#     remote user: username
#     remote ip: mydomain.co.uk
#     remote datbase host: mydatabaseName
#     port: 9002

# instrument the data belongs to; `xsh` or `soxs`
instrument: xsh

soxs-mbias:
    # INDIVIDUAL RAW BIAS FRAME CLIPPING PARAMETERS. DATA IS CLIPPED BEFORE STACKING.
    frame-clipping-sigma: 3 
    frame-clipping-iterations: 1
    # STACKED FRAME CLIPPING PARAMETERS. DATA IS CLIPPED AFTER STACKING.
    stacked-clipping-sigma: 5
    stacked-clipping-iterations: 3
    uvb:
        # INDIVIDUAL RAW BIAS FRAME CLIPPING PARAMETERS. DATA IS CLIPPED BEFORE STACKING.
        frame-clipping-sigma: 3 
        frame-clipping-iterations: 1
        # STACKED FRAME CLIPPING PARAMETERS. DATA IS CLIPPED AFTER STACKING.
        stacked-clipping-sigma: 5
        stacked-clipping-iterations: 3

soxs-mdark:
    # INDIVIDUAL RAW DARK FRAME CLIPPING PARAMETERS. DATA IS CLIPPED BEFORE STACKING.
    frame-clipping-sigma: 3 
    frame-clipping-iterations: 1
    # number of σ deviations from the median *pixel* flux beyond which pixel is excluded from stack
    stacked-clipping-sigma: 5
    # number of σ-clipping iterations to perform before stacking
    stacked-clipping-iterations: 5


soxs-disp-solution:
    pixel-window-size: 10
    pinhole-detection-thres-sigma: 5
    order-deg: 3
    wavelength-deg: 3
    # number of sigma-clipping iterations to perform before settings on a polynomial fit for the dispersion solution
    poly-clipping-iteration-limit: 10

    poly-fitting-residual-clipping-sigma: 5

soxs-order-centre:
     detect-continuum:
        # NUMBER OF CROSS-ORDER SLICES PER ORDER
        order-sample-count: 200
        # LENGTH OF EACH SLICE (PIXELS)
        slice-length: 10
        # WIDTH OF EACH SLICE (PIXELS)
        slice-width: 5
        # HEIGHT GAUSSIAN PEAK MUST BE ABOVE MEDIAN FLUX TO BE "DETECTED" BY CODE (STD VIA MEDIAN ABSOLUTE DEVIATION).
        peak-sigma-limit: 3
        # DEGREE OF Y-COMPONENT OF GLOBAL POLYNOMIAL FIT TO ORDER CENTRES
        disp-axis-deg: 3
        # DEGREE OF ORDER-COMPONENT OF GLOBAL POLYNOMIAL FIT TO ORDER CENTRES
        order-deg: 5
        # CLIPPING LIMIT (MEDIAN AND MAD) WHEN FITTING GLOBAL POLYNOMIAL TO ORDER CENTRES
        poly-fitting-residual-clipping-sigma: 3
        # MAXIMUM NUMBER OF CLIPPING ITERATIONS WHEN FITTING GLOBAL POLYNOMIAL TO ORDER CENTRES
        poly-clipping-iteration-limit: 1

soxs-spatial-solution:
    use_flat: False
    pixel-window-size: 10
    pinhole-detection-thres-sigma: 5
    order-deg: 3
    wavelength-deg: 3
    slit-deg: 3
    poly-clipping-iteration-limit: 10
    poly-fitting-residual-clipping-sigma: 5
    # CLIPPING PERFORMED ON MULTI-PINHOLE SETS (TRUE) OR INDIVIDUAL PINHOLES (FALSE)
    poly-clipping-pinhole-sets: True
    pinhole_fwhm_px_max: 2.5
    pinhole_fwhm_px_min: 1.0
    mph_line_set_min: 8

soxs-mflat:
    subtract_background: True
    # number of σ deviations from the median *pixel* flux beyond which pixel is excluded from stack
    stacked-clipping-sigma: 5
    # number of σ-clipping iterations to perform before stacking
    stacked-clipping-iterations: 5
    # width of the slice to cut along the centre of each order when determining mean exposure level
    centre-order-window: 20
    # length of image slice to take across orders when detecting edges
    slice-length-for-edge-detection: 90
    # NUMBER OF CROSS-ORDER SLICES PER ORDER
    order-sample-count: 70
    # width of image slice to take across orders when detecting edges
    slice-width-for-edge-detection: 5
    # minimum value flux can drop to as percentage of central flux and be counted as an order edge
    min-percentage-threshold-for-edge-detection: 20
    # maximum value flux can claim to as percentage of central flux and be counted as an order edge
    max-percentage-threshold-for-edge-detection: 50
    # degree of dispersion axis component of polynomal fit to order edges
    disp-axis-deg: 5
    # degree of order component of polynomal fit to order edges
    order-deg: 3
    # number of σ deviations from the median fit residual beyond which individual data points are removed when iterating towards a fit of order edges
    poly-fitting-residual-clipping-sigma: 5
    # number of sigma-clipping iterations to perform before settings on a polynomial fit for the order edges
    poly-clipping-iteration-limit: 3
    # number of σ deviations below the median flux of a master-flat frame beyond which a pixel is added to the bad-pixel mask
    low-sensitivity-clipping-sigma: 2
    # SCALE D2 TO QTH LAMP FLATS WHEN STITCHING
    scale-d2-to-qth: True

    
soxs-stare:
    # number of σ deviations from the median *pixel* flux beyond which pixel is excluded from stack
    stacked-clipping-sigma: 5
    # number of σ-clipping iterations to perform before stacking
    stacked-clipping-iterations: 5
    # the length of the 'slit' used to collect object flux (in pixels)
    horne-extraction-slit-length: 20
    # the number of σ deviations beyond the median pixel value for a pixel to be clipped (removing CRH and bad-pixels)
    horne-extraction-profile-global-clipping-sigma: 25
    # the number of σ deviations that residuals from the fitted, dispersion-direction profile need to be beyond for a pixel to be clipped
    horne-extraction-profile-clipping-sigma: 3.0
    # number of sigma-clipping iterations to perform while fitted, dispersion-direction profiles
    horne-extraction-profile-clipping-iteration-count: 10
    detect-continuum:
        # NUMBER OF CROSS-ORDER SLICES PER ORDER
        order-sample-count: 200
        # LENGTH OF EACH SLICE (PIXELS)
        slice-length: 20
        # WIDTH OF EACH SLICE (PIXELS)
        slice-width: 5
        # HEIGHT GAUSSIAN PEAK MUST BE ABOVE MEDIAN FLUX TO BE "DETECTED" BY CODE (STD VIA MEDIAN ABSOLUTE DEVIATION).
        peak-sigma-limit: 1.5
        # DEGREE OF Y-COMPONENT OF GLOBAL POLYNOMIAL FIT TO OBJECT TRACE
        disp-axis-deg: 4
        # DEGREE OF ORDER-COMPONENT OF GLOBAL POLYNOMIAL FIT TO OBJECT TRACE
        order-deg: 4
        # CLIPPING LIMIT (MEDIAN AND MAD) WHEN FITTING GLOBAL POLYNOMIAL TO OBJECT TRACE
        poly-fitting-residual-clipping-sigma: 3.
        # MAXIMUM NUMBER OF CLIPPING ITERATIONS WHEN FITTING GLOBAL POLYNOMIAL TO OBJECT TRACE
        poly-clipping-iteration-limit: 5
    sky-subtraction:
            # PECENTILE CLIPPING USED TO CLIP THE OBJECT(S) BEFORE FITTING A SKY MODEL
            percentile_clipping_sigma: 3
            percentile_clipping_iterations: 4
            percentile_rolling_window_size: 35
            # FRACTION OF SLIT RANGE TO MASK AT UPPER AND LOWER SLIT EDGES
            clip-slit-edge-fraction: 0.01
            aggressive_object_masking: False
            bspline_order: 3
            slit_illumination_order: 1
            # WHEN FITTING BSPLINE TO SKY DATA, ADD A MINIMUM SET OF KNOTS BEFORE ADDING MORE WHERE NEEDED
            starting_points_per_knot: 500
            # CAN NOT ADD ANOTHER KNOT TO A GROUP OF DATA POINTS SMALLER THAN min_points_per_knot (WHEN FITTING BSPLINE)
            min_points_per_knot: 6
            # WHEN FITTING THE BSPLINE TO THE DATA, CLIP DEVIANT DATA POINTS BEFORE REFITTING
            bspline_fitting_residual_clipping_sigma: 5
            # NUMBER OF ITERATIONS USED TO FIT THE BSPLINE
            bspline_iteration_limit: 5
            # THE RESIDUAL FLOOR USED TO DETERMINE IF MORE KNOTS ARE NEEDED DURING BSPLINE FITTING
            residual_floor_percentile: 50
    
        
soxs-nod:
    use_flat: True
     # number of σ deviations from the median *pixel* flux beyond which pixel is excluded from stack
    stacked-clipping-sigma: 5
    # SAVE INDIVIDUAL FRAME EXTRACTION
    save_single_frame_extractions: False
    # number of σ-clipping iterations to perform before stacking
    stacked-clipping-iterations: 5
    # the length of the 'slit' used to collect object flux (in pixels)
    horne-extraction-slit-length: 20
    # the number of σ deviations beyond the median pixel value for a pixel to be clipped (removing CRH and bad-pixels)
    horne-extraction-profile-global-clipping-sigma: 25
    # the number of σ deviations that residuals from the fitted, dispersion-direction profile need to be beyond for a pixel to be clipped
    horne-extraction-profile-clipping-sigma: 3.0
    # number of sigma-clipping iterations to perform while fitted, dispersion-direction profiles
    horne-extraction-profile-clipping-iteration-count: 10
    detect-continuum:
        # NUMBER OF CROSS-ORDER SLICES PER ORDER
        order-sample-count: 200
        # LENGTH OF EACH SLICE (PIXELS)
        slice-length: 30
        # WIDTH OF EACH SLICE (PIXELS)
        slice-width: 5
        # HEIGHT GAUSSIAN PEAK MUST BE ABOVE MEDIAN FLUX TO BE "DETECTED" BY CODE (STD VIA MEDIAN ABSOLUTE DEVIATION).
        peak-sigma-limit: 1.5
        # DEGREE OF Y-COMPONENT OF GLOBAL POLYNOMIAL FIT TO OBJECT TRACE
        disp-axis-deg: 4
        # DEGREE OF ORDER-COMPONENT OF GLOBAL POLYNOMIAL FIT TO OBJECT TRACE
        order-deg: 4
        # CLIPPING LIMIT (MEDIAN AND MAD) WHEN FITTING GLOBAL POLYNOMIAL TO OBJECT TRACE
        poly-fitting-residual-clipping-sigma: 3.
        # MAXIMUM NUMBER OF CLIPPING ITERATIONS WHEN FITTING GLOBAL POLYNOMIAL TO OBJECT TRACE
        poly-clipping-iteration-limit: 5
        
soxs-straighten:
    asdasd: 1



# UTILS
background-subtraction:
    bspline-deg: 3
    gaussian-blur-sigma: 35

test-data-root: ~/xshooter-pipeline-data/unittest_data/xsh
workspace-root-dir: ~/soxspipe-unittests/intermediate/xsh
reduced-data-root: ~/soxspipe-unittests/reduced/xsh



data-extension: 0

# INTERMEDIATE DATA PRODUCTS CAN CONSUME A LOT OF STORAGE SPACE - BE WARNED
save-intermediate-products: True

logging settings:
    formatters:
        file_style:
            format: '%(asctime)s %(levelname)s: "%(pathname)s", line %(lineno)d, in %(funcName)s > %(message)s'
            datefmt: '%Y/%m/%d %H:%M:%S'
        console_style:
            format: '%(levelname)s: "%(pathname)s", line %(lineno)d, in %(funcName)s > %(message)s'
            datefmt: '%H:%M:%S'
        html_style:
            format: '<div id="row" class="%(levelname)s"><span class="date">%(asctime)s</span>   <span class="label">file:</span><span class="filename">%(filename)s</span>   <span class="label">method:</span><span class="funcName">%(funcName)s</span>   <span class="label">line#:</span><span class="lineno">%(lineno)d</span> <span class="pathname">%(pathname)s</span>  <div class="right"><span class="message">%(message)s</span><span class="levelname">%(levelname)s</span></div></div>'
            datefmt: '%Y-%m-%d <span class= "time">%H:%M <span class= "seconds">%Ss</span></span>'
    handlers:
        console:
            class: logging.StreamHandler
            level: DEBUG
            formatter: console_style
            stream: ext://sys.stdout
        file:
            class: logging.handlers.GroupWriteRotatingFileHandler
            level: INFO
            formatter: file_style
            filename: ~/.config/soxspipe/soxspipe.log
            mode: w+
            maxBytes: 102400
            backupCount: 1
    root:
        level: INFO
        handlers: [file,console]
