sphinx 
myst-parser 
sphinx-autodoc2
furo
sphinx-inline-tabs
sphinxext-opengraph
sphinx-autobuild
linkify-it-py
sphinxcontrib-mermaid
sphinx-togglebutton
sphinx_copybutton
sphinx_tippy
git+https://github.com/harshil21/furo-sphinx-search
sphinx_design
pygments-csv-lexer
sphinxcontrib-svg2pdfconverter
sphinx-remove-toctrees
sphinxcontrib.bibtex
